<h1>Editing Map Tiles Subscription</h1>

<%= render 'form', map_tiles_subscription: @map_tiles_subscription %>

<%= link_to 'Show', @map_tiles_subscription %> |
<%= link_to 'Back', map_tiles_subscriptions_path %>
