@import '_settings'; 

.selectedChatClose {
  padding: 10px 25px;
  margin: 2px 0 0 0;
  background-color: #fff !important;
  border: none;
  border-radius: 2px;
  font-size: 1em;
  border: 1px solid #babfc9;
  color: #babfc9;
  transition: ease all 0.3s;

  &:hover {
    background-color: #babfc9 !important;
    color: #fff;
    border: 1px solid #fff;
    transition: ease all 0.3s;
  }
}

.selectedChatPost{
  height: 38px !important;
  padding: 10px 25px;
  margin: 2px 0 0 0;
  background-color: #fff !important;
  border: none;
  border-radius: 2px;
  font-size: 1em;
  border: 1px solid #45B5F7;
  color: #45B5F7;
  transition: ease all 0.3s;

  &:hover {
    background-color: #45B5F7 !important;
    color: #fff;
    transition: ease all 0.3s;
  }
}

.disabledButton {
  background-color: #ccc !important;
  cursor: default;
}

.like_button {
  border: none;
  background-color: #eeeeee;
}

.open-button-delete:hover {
  color:#fff !important;
}

.back {
  background-color: #ccc;
  border: 1px solid #bbb;
  color: #fff !important;
  margin-right: 15px;
}

.back-space {
  margin-bottom: 9px;
}

.delete-space {
  margin-bottom: 9px;
}

.back-comment {
  margin-bottom: 9px;
}

.delete {
  background-color: #3D424E;
  color: #fff !important;
  margin-right: 15px;
}

.delete-comment {
  margin-bottom: 9px;
}

.save {
  background-color: #35a6d8 !important;
  color: #fff !important;
}

.save-note {
  margin-top: 9px;
}

.save-post{
  margin-top: 9px;
}

.delete-final {
  background-color: #d9534f !important;
  color: #fff !important;
}

.delete-final-post {
  float: right;
  margin-right: 25px;
}

.delete-final-jm {
  margin-left: 25px;
}

.delete-tile {
  margin: 15px;
}

.postit {
  height: 45px;
  padding: 0 25px;
  float: right;
  background: #45B5F7 ;
  border: none;
  border-radius: 0 0 4px 0;
  color: #fff;
  font-size: 1em;
  text-align: center;
  position: relative;
  bottom: 1px;
  transition: ease all 0.3s;

  &:hover {
    opacity: 0.8;
    transition: ease all 0.3s;
  }
}

button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle;}
button,input{ overflow:visible;line-height:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}

textarea{
  overflow:auto;
  vertical-align:top;
}

label,input,button,select,textarea{font-size:13px;font-weight:normal;line-height:18px;}
input,button,select,textarea{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
label{display:block;margin-bottom:5px;color:#333333;}

input,textarea,select,.uneditable-input {
  display:inline-block;
  width:210px;
/*  height:18px;*/
  padding:4px;
  margin-bottom:9px;
  font-size:13px;
  line-height:18px;
  color:#555555;
  border:1px solid #cccccc;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}

.post-field {
  margin-bottom:0px;
}

.uneditable-textarea{width:auto;height:auto;}
label input,label textarea,label select{display:block;}
input[type="image"],input[type="checkbox"],input[type="radio"]{width:auto;height:auto;padding:0;margin:3px 0; margin-top:0;line-height:normal;cursor:pointer;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;border:0 \9;}
input[type="image"]{border:0;}
input[type="file"]{width:auto;padding:initial;line-height:initial;border:initial;background-color:#ffffff;background-color:initial;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
input[type="button"],input[type="reset"]{width:auto;height:auto; padding:10px 20px; background-color:#f0f2f4; }



input[type="submit"]{
  width:auto;
  height: 35px; 
  padding:8px 20px;
  background-color:#f0f2f4;
}

select,input[type="file"]{height:28px; margin-top:4px;line-height:28px;}
input[type="file"]{line-height:18px \9;}
select{width:220px;background-color:#ffffff;}
select[multiple],select[size]{height:auto;}
input[type="image"]{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}

textarea{
  width: 85%;
  overflow: hidden;
  resize: none;
}

input[type="hidden"]{display:none;}
.radio,.checkbox{padding-left:18px;}
.radio input[type="radio"],.checkbox input[type="checkbox"]{float:left;margin-left:-18px;}
.controls>.radio:first-child,.controls>.checkbox:first-child{padding-top:5px;}
.radio.inline,.checkbox.inline{display:inline-block;padding-top:5px;margin-bottom:0;vertical-align:middle;}
.radio.inline+.radio.inline,.checkbox.inline+.checkbox.inline{margin-left:10px;}
input,textarea{-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;-moz-transition:border linear 0.2s,box-shadow linear 0.2s;-ms-transition:border linear 0.2s,box-shadow linear 0.2s;-o-transition:border linear 0.2s,box-shadow linear 0.2s;transition:border linear 0.2s,box-shadow linear 0.2s;}
input:focus,textarea:focus{border-color:rgba(82, 168, 236, 0.8);-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);outline:0;outline:thin dotted \9;}
input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus,select:focus{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.input-mini{width:60px;}
.input-small{width:90px;}
.input-medium{width:150px;}
.input-large{width:210px;}
.input-xlarge{width:270px;}
.input-xxlarge{width:530px;}
input[class*="span"],select[class*="span"],textarea[class*="span"],.uneditable-input{float:none;margin-left:0;}

input,textarea,.uneditable-input {
  margin-left:0;
  padding-top: 7px;
}

input#link-field {
  padding-top: 20px;
}

input.span12, textarea.span12, .uneditable-input.span12{width:930px;}
input.span11, textarea.span11, .uneditable-input.span11{width:850px;}
input.span10, textarea.span10, .uneditable-input.span10{width:770px;}
input.span9, textarea.span9, .uneditable-input.span9{width:690px;}
input.span8, textarea.span8, .uneditable-input.span8{width:610px;}
input.span7, textarea.span7, .uneditable-input.span7{width:530px;}
input.span6, textarea.span6, .uneditable-input.span6{width:450px;}
input.span5, textarea.span5, .uneditable-input.span5{width:370px;}
input.span4, textarea.span4, .uneditable-input.span4{width:290px;}
input.span3, textarea.span3, .uneditable-input.span3{width:210px;}
input.span2, textarea.span2, .uneditable-input.span2{width:130px;}
input.span1, textarea.span1, .uneditable-input.span1{width:50px;}
input[disabled],select[disabled],textarea[disabled],input[readonly],select[readonly],textarea[readonly]{background-color:#eeeeee;border-color:#ddd;cursor:not-allowed;}


a.bttn {
  background-color:#92b6ca;
  padding:20px 10px;
  display:block;
  text-align:center;
  color:#FFF;
  text-transform: uppercase;
  font-size:18px;
  max-width: 280px;
  margin:0 auto;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 0px solid #800000;
}


.bttn.mini {
  padding:4px;
  margin:0;
  max-width: 90px;
  font-size: 12px;
  text-transform:none;
}

.bttn.small {
    padding:4px;
    margin:0;
    max-width: 90px;
    font-size: 12px;
}


.bttn.med {
    padding:10px;
    margin:0;
    max-width: 140px;
    font-size: 12px;
  margin:0 auto;
}

.bttn.grey {
  background-color:#e7e7e7;
  color:gray;
}

.bttn.focus {
  width:auto;
  max-width:350px;
  margin:80px auto;
  padding:12px 10px;
  font-size:18px;
  line-height: 100%;
}

.bttn.center {
  margin:0 auto;
}

.bttn.outline.danger {
  background-color:transparent;
  border: 1px solid #ff0000;
  color:#ff0000;
}

.bttn.outline {
  background-color:transparent;
  border: 1px solid $blue;
  color: $blue;
  outline: none !important;
}

.bttn.inline {
  display:inline;
}

#spacesCreateInputForm {
  width: 100%;
  margin-left: 200px;
}

#tile-create-close-button {
border: none !important;
  box-shadow: none;
  width:75px;
  height:30px;
  border-radius: 1px;
  line-height:30px;
  text-align:center;
  background-color:#fff;
  color:#808080;
  font-size:13px;
}
