$font-stack           : "proxima-nova","Myrid Pro", Arial, sans-serif;
$heading-font-stack   : "proxima-nova","Myrid Pro", Arial, sans-serif;
$primary-color        : #333;
$primary-faded        : #CCC;
$primary-dark        : #666;

$post-border : #e6e6e6;
$post-form-bg: #EEEEEE;

$profile-bg : #F2F2F2;
$blue       : #8BD7EF;
$light-blue : #8BD7EF;
$red        : #F27788;
$orange     : #FFA722;